.Event-wrapper {
    margin: 0;
    padding: 0;
}

.header__headings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin-bottom: 30px;
}

.pink__heading {
    font-family: 'Sansita One';
    color: #F56B9A;
    font-weight: 500;
    font-size: 32px;
    filter: drop-shadow(1px 1px 0 #000000);
    padding: 32px 0px 20px 0px;
}

.topic-title {
    padding-bottom: 0;
}

.sub__heading {
    width: 60%;
    font-family: "Fira Sans", sans-serif;
    font-weight: 100;
    font-style: italic;
    font-size: 19px;
    color: rgba(255, 255, 255, 0.6);
}

.main__event {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.green__heading {
    color: #37AEAB;
    font-weight: 700;
    font-size: 19px;
}

.location__heding {
    color: rgba(255, 255, 255, 0.6);
    font-family: "Fira Sans", sans-serif;
    font-weight: 100;
    font-style: italic;
    font-size: 16px;
}

.form {
    margin-top: 82px;
    width: 250px;
    height: auto;
    cursor: pointer;
}

.form__div {
    display: flex;
    font-size: 30px;
    font-weight: 700;
    justify-content: space-around;
    border: 2px solid #F56B9A;
    color: white;
    border-radius: 3px;
}

.total-price {
    display: flex;
    color: white;
    filter: drop-shadow(1px 1px 0 #F56B9A);
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding: 20px 30px 20px 30px;
    border: 2px solid #F56B9A;

}

.add__button {
    padding: 20px 80px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 67px;
    background-color: #37AEAB;
    color: white;
    font-size: 19px;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.minus,
.plus,
.number {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 30%;
    font-weight: 100;
}

.minus {
    border-right: 2px solid #F56B9A;
}

.plus {
    border-left: 2px solid #F56B9A;
}

.number {
    font-size: 20px;

}