.main__wrapper--ticket {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 40px 0px 0px;
    padding-top: 40px;
}

.section__ticket--container {
    width: 80%;
    height: 500x;
    background-color: #FFFFFF;
    border-radius: 3px;
}

.ticket__artist {
    font-family: 'Sansita One';
    color: #F56B9A;
    font-weight: 500;
    font-size: 26px;
    padding: 10px;
    margin-bottom: 15px;
}

.what__text,
.where__text {
    font-family: var(--heading-fira-font, 'Fira Sans');
    color: rgba(0, 0, 0, 0.4);
    font-weight: bolder;
    font-size: 10px;
    padding: 10px;
}

.where__place {
    font-size: 18px;
    font-weight: semibold;
    padding: 5px 10px 0 10px;
}

.where__adress {
    padding: 10px 0px 10px 10px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: normal;
    margin-bottom: 2rem;
}

.what__container {
    border-bottom: 2px dotted rgba(0, 0, 0, 0.4);
}

.where__container {
    border-bottom: 2px dotted rgba(0, 0, 0, 0.4);
    background: rgba(0, 0, 0, 0.03);
}


.when__section {
    display: flex;
    justify-content: center;
    border-bottom: 2px dotted rgba(0, 0, 0, 0.4);
    background: rgba(0, 0, 0, 0.06);
    ;
}

.when__container {
    border-right: 2px dotted rgba(0, 0, 0, 0.4);
    border-top: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.from__container {
    border-right: 2px dotted rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.to__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;

}

.when__text,
.from__text,
.to__text,
.info__text {
    padding: 10px 55px 10px 0px;
    font-family: var(--heading-fira-font, 'Fira Sans');
    color: rgba(0, 0, 0, 0.4);
    font-weight: 700;
    font-size: 10px;
}

.when__date,
.from__time,
.to__time {
    padding: 0px 20px 10px 0px;
    font-family: var(--heading-fira-font, 'Fira Sans');
    color: rgba(0, 0, 0, 60%);
    font-weight: 700;
    font-size: 18px;
}

.when__date {
    text-align: center;
}

.to__time {
    padding: 0px 10px 10px 0px;
}

.info__section {
    background: rgba(0, 0, 0, 0.09);
}

.info__text {
    padding: 10px 0px 0px 10px;
}

.info__seat {
    padding: 10px 0px 10px 10px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 12;
}

.randomId__section {
    background: rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

}

.randomid__code {
    font-family: var(--heading-Libre-code), sans-serif;
    color: rgba(0, 0, 0, 0.8);
    font-size: 101px;
    padding: 30px 0px 0px 0px;

}

.randomid__text {
    font-family: var(--heading-fira-font);
    color: rgba(0, 0, 0, 0.4);
    margin-top: -25px;
    padding: 0px 0px 30px 0px;
    font-weight: 700;
    letter-spacing: 3px;
}

.myBarcode {
    height: 100px;
    padding-top: 10px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 3px;
}


.myBarcode text {

    font-weight: bolder !important;
    font-family: var(--heading-fira-font) !important;
    fill: rgba(0, 0, 0, 0.4);
    letter-spacing: 3px;
    font-size: 20px !important;
}