.main__wrapper--ticket {
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.section__ticket--container {
    width: 80%;
    height: 500px;
    background-color: #FFFFFF;
}

.ticket__artist {
    font-family: 'Sansita One';
    color: #F56B9A;
    font-weight: 500;
    font-size: 26px;
    padding: 10px;
    margin-bottom: 15px;
}

.what__text,
.where__text {
    font-family: var(--heading-fira-font, 'Fira Sans');
    color: rgba(0, 0, 0, 0.4);
    font-weight: bolder;
    font-size: 10px;
    padding: 10px;
}

.where__place {
    font-size: 18px;
    font-weight: semibold;
    padding: 5px 10px 0 10px;
}

.where__adress {
    padding: 10px 0px 10px 10px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: normal;
    margin-bottom: 2rem;
}

.what__container {
    border-bottom: 2px dotted rgba(0, 0, 0, 0.4);
}

.where__container {
    border-bottom: 2px dotted rgba(0, 0, 0, 0.4);
    background: rgba(0, 0, 0, 0.03);
}


.when__section {
    display: flex;
    justify-content: space-around;
}

.when__container {
    border-right: 2px dotted rgba(0, 0, 0, 0.4);
    border-top: none;
}