@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Libre+Barcode+128&display=swap");

@font-face {
    font-family: 'Sansita One';
    src: url('./assets/fonts/SansitaOne.ttf') format ('trutype')
}




:root {
    --background-color: #231F42;
    --background-color-gradient: linear-gradient(59deg, rgba(244, 106, 153, 1) 0%, rgba(70, 39, 103, 1) 40%, rgba(35, 31, 66, 1) 100%);
    --heading-sansita-font: 'Sansita One';
    --heading-fira-font: 'Fira Sans';
    --heading-Libre-code: 'Libre Barcode 128';

    --f-color-pink: #F56B9A;
    --f-color-green: #37AEAB;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    height: 100%;
    font-family: Fira Sans;

}

.footer {
    margin-bottom: 20%;
}