.order-form {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.form__section--pink {
    border: 2px solid #F56B9A;
    border-bottom: none;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 5px;

}

.order__form {
    margin-top: 20px;
    width: 310px;
}

.order__form h2 {
    font-size: 24px;
    padding: 0;
    margin-top: 2px;
    margin-bottom: 2px;
}


.order__total-price {
    display: flex;
    color: white;
    filter: drop-shadow(1px 1px 0 #F56B9A);
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

.order__sub {
    padding: 20px;
    width: 100%;
    text-align: center;
}

.order__button {
    margin-top: 20px;
    margin-bottom: 30px;
}

.green__heading--small {
    font-size: 14px;
    font-weight: 100;
}

.order__section--total {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.No__order {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.No__order p {
    color: white;
    font-weight: 700;
    filter: drop-shadow(1px 1px 0 #F56B9A);
}

.old__lady {
    width: 80%;
    border-radius: 10px;
    margin-top: 30px;
}

a {
    text-decoration: none;
}