@font-face {
    font-family: 'Sansita One';
    src: url(../../assets/fonts/SansitaOne.ttf);
}

.Logo {
    width: 55%;
    margin-bottom: 10px;
}

.Logotype {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.heading {
    font-family: 'Sansita One';
    color: #F56B9A;
    filter: drop-shadow(1px 1px 0 #000000);
    font-size: 32px;
    font-weight: 500;
    margin: 0;
}


.sub-heading {
    font-family: Fira Sans, sans-serif;
    font-style: italic;
    font-weight: 100;
    color: white;
    filter: drop-shadow(1px 1px 0 #000000);
    font-size: 22px;
    margin: 0;
}

/* .home-page {
    display: flex;
    justify-content: center;
    align-items: center;
} */